// Define reusable variables
$text-color: #333;
$bg-color: #fff;

.topnav {
    background-color: $bg-color;
    color: $text-color;
    //padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Makes the element scale with screen size */
    overflow: hidden;

    .nav-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px; /* Add padding to the inner container */
    }

    .nav-logo {
        cursor: pointer;
        img {
            height: 40px;
        }
    }

    .links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
            margin: 0 10px; /* Add margin to list items */
            cursor: pointer;
            color: $text-color;
            font-size: 16px;
            transition: color 0.3s ease;

            &:hover {
                color: #007bff;
            }

            &.active {
                color: #007bff; // Active link color
            }
        }
    }
}