.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f8f9fa; /* Adjust background color as needed */
    padding: 10px 20px; /* Adjust padding as needed */

    .container-fluid {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-brand {
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
    }

    .navbar-toggler {
        border: none;
        background: none;
        font-size: 24px;
    }
    
    .navbar-nav {
        display: flex;
        align-items: center;

        .nav-item {
            margin-left: 20px;

            .nav-link {
                color: #000;
                text-decoration: none;

                &:hover {
                    color: #007bff;
                }
            }

            &.active .nav-link {
                font-weight: bold;
                color: #007bff;
            }
        }
    }
}