.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff; /* Adjust background color as needed */
    padding: 10px 20px !important; /* Adjust padding as needed */

    .container-fluid {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
    }

    .navbar-brand {
        cursor: pointer;
        font-size: clamp(1.5rem, 2vw, 2rem);
        font-weight: bold;
    }

    .navbar-toggler {
        border: none;
        background: none;
        font-size: 24px;
    }
    
    .navbar-nav {
        display: flex;
        align-items: center;

        li {
            font-size: 1.2rem;
        }

        .nav-item {

            .nav-link {
                color: #000;
                text-decoration: none;

                &:hover {
                    color: #007bff;
                }
            }

            &.active .nav-link {
                font-weight: bold;
                color: #007bff;
            }
        }
    }

    @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;
        
        .navbar-brand {
            font-size: 1.2rem;
            margin: auto;
        }

        .navbar-toggler-icon {
            width: 30px;
            height: 30px;
        }

    }
}