#articles-modal {

    height: 500px;

    .article-button {
        font-size: 1.2rem;
        color: black;
    }

    .article-content {

        img {
            width: 100%;
        }

        p {
            font-size: 1.2rem;
        }

    }

}
