// Define reusable variables
$text-color: #333;
$bg-color: #fff;
$primary-color: #007bff;
$shadow-color: #ccc;
$p-font-size: clamp(0.8rem, 2vw, 1.2rem);

#slideshow {

    .carousel-indicators {
        position: relative;
        height: 2rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
        transform: translateY(-100%);

        .indicator {
            width: 2rem;
            height: 0.4rem;
            //border-radius: 50%;
            background-color: #ccc;
            border: none;
    
            &.active {
                background-color: #aaa;
            }
        }
    }

    .carousel-inner {
        top: 0;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: transform 1s ease-in-out;
        box-shadow: 0 0 10px 5px $shadow-color;

        .carousel-item {
            width: 100%;
            height: 100%;
        }
    }

    .slide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 10px 5px $shadow-color;
    }

    #image-text {
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        color: white;
        transform: translateY(-50%);

        h2 {
            font-size: clamp(1rem, 3vw, 3rem);
        }

        p {
            font-size: clamp(0.5rem, 1.5vw, 1.5rem);
        }
    }

    .carousel-control-prev {
        width: 5%;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .carousel-control-next {
        width: 5%;
        opacity: 0.7;
        
        &:hover {
            opacity: 1;
        }
    }
}

#info {
    background-color: $bg-color;
    color: $text-color;
    text-align: left;

    .info-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // Center the entire container
    }

    .info-image {
        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            box-shadow: 0 0 10px 5px $shadow-color;
        }
    }

    .info-text {
        align-self: center;

        p {
            margin: 0;
            font-size: $p-font-size;
        }
    }
    
    @media (max-width: 576px) {
        .info-content {
            flex-direction: column;
        }

        .info-text {
            padding-top: 20px;
            p {
                font-size: 1rem;
            }
        }
        
    }
}

#campus {
    .campus-left {
        align-self: center;
    }

    .campus-contacts {
        p {
            font-size: $p-font-size;
            margin: 0;
        }
    }

    .campus-indicators {
        padding-top: clamp(5px, 1vw, 20px);

        .campus-btn {
            &.active {
                .campus-icon {
                    outline: 0.2rem solid #333;
                }
            }
        }

        .campus-icon {
            width: clamp(25px, 5vw, 80px);
            height: clamp(25px, 5vw, 80px);
        }
    }

    .campus-carousel {
        .carousel-control-next, .carousel-control-prev {
            width: 5%;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }

    .carousel-inner {
        border-radius: 15px;
        box-shadow: 0 0 10px 5px $shadow-color;
    }

    @media (max-width: 576px) {
        .campus-info {
            flex-direction: column-reverse;

            .campus-contacts {
                p {
                    font-size: 1rem;
                }
                .campus-icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .campus-left {
            padding-top: 20px;
        }
    }
}