// Define reusable variables
$text-color: #333;
$bg-color: #fff;
$primary-color: #007bff;
$shadow-color: #ccc;

#slideshow {

    .carousel-indicators {
        position: relative;
        height: 2rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;

        .indicator {
            width: 2rem;
            height: 0.4rem;
            //border-radius: 50%;
            background-color: #ddd;
            border: none;
    
            &.active {
                background-color: #444;
            }
        }
    }

    .carousel-inner {
        top: 0;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: transform 1s ease-in-out;

        .carousel-item {
            width: 100%;
            height: 100%;
        }
    }

    .slide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #image-text {
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        color: white;
        transform: translateY(-50%);

        h2 {
            font-size: clamp(1rem, 3vw, 3rem);
        }

        p {
            font-size: clamp(0.5rem, 1.5vw, 1.5rem);
        }
    }

    .carousel-control-prev {
        width: 5%;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .carousel-control-next {
        width: 5%;
        opacity: 0.7;
        
        &:hover {
            opacity: 1;
        }
    }
}

#info {
    background-color: $bg-color;
    color: $text-color;
    text-align: left;

    .info-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // Center the entire container

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .info-text, .info-image {
            display: flex;
            flex-direction: column;
            align-items: center; // Center content within each column
            justify-content: center; // Center content vertically
            flex: 1;
        }

        .info-text {
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin: 0;
                line-height: 1.6;
                text-align: center; // Center text within the column
            }
            strong {
                color: $primary-color;
            }
            .info-button {
                margin-top: 20px;
            }
        }

        .info-image {
            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 15px;
                box-shadow: 0 0 10px 5px $shadow-color;
            }
        }
    }
}

#campus {

    #campusCarousel {
        .carousel-control-next, .carousel-control-prev {
            width: 5%;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}

#statement-of-faith {
    background-color: $bg-color;
    color: $text-color;
    padding: 20px;
    text-align: center;

    .description {
        font-size: 1rem;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;

        @media (max-width: 1200px) {
            margin: 0
        }
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    #home,
    #info {
        padding: 10px;
    }

    #info {
        .info-content {
            .info-text,
            .info-image {
                width: 100%;
            }
        }
    }
}