// Define reusable variables
$text-color: #333;
$bg-color: #fff;
$primary-color: #007bff;
$shadow-color: #ccc;

// General styles for the Home component
#home {
    background-color: $bg-color;
    color: $text-color;
    position: relative;

    .home-content {
        position: relative;
        width: 100%;
        height: 75vh; // Full viewport height
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .home-bg-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: #ddd;
            object-fit: cover;
            border-radius: 15px;
            z-index: 0; // Ensure the image is behind the text
            box-shadow: 0 0 10px 5px $shadow-color;
        }

        .home-heading {
            z-index: 1; // Ensure the text is on top of the image
            color: #fff; // Set text color to white for better contrast

            .heading1 {
                font-size: 3rem;
                font-weight: 1000;
                margin-bottom: 10px;
            }

            .heading2 {
                font-size: 2.5rem;
                line-height: 1.2;
            }
        }
    }
}

#info {
    background-color: $bg-color;
    color: $text-color;
    padding: 20px;
    text-align: left;

    .info-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // Center the entire container

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .info-text, .info-image {
            display: flex;
            flex-direction: column;
            align-items: center; // Center content within each column
            justify-content: center; // Center content vertically
            flex: 1;
        }

        .info-text {
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin: 0;
                line-height: 1.6;
                text-align: center; // Center text within the column
            }
            strong {
                color: $primary-color;
            }
            .info-button {
                margin-top: 20px;
            }
        }

        .info-image {
            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 15px;
                box-shadow: 0 0 10px 5px $shadow-color;
            }
        }
    }
}

#statement-of-faith {
    background-color: $bg-color;
    color: $text-color;
    padding: 20px;
    text-align: center;

    .description {
        font-size: 1rem;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    #home,
    #info {
        padding: 10px;
    }

    #info {
        .info-content {
            .info-text,
            .info-image {
                width: 100%;
            }
        }
    }
}